$c-blue: #000;
$c-main: #33BDCA;
$c-highlight: #F92493;
$c-white: #fff;
$c-yellow: #FFFCDB;
$c-grey: #F8F8F9;
$c-grey-dark: darken(#F8F8F9, 5%);
$c-black: #28343D;

$f-body: 'Asap', sans-serif;
$f-head: 'Rubik', sans-serif;

$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);


@mixin desktop() {
  @media screen and (min-width: 700px) { @content; }
}
