@import 'reset';
@import 'helpers';

html {
  font-size: 18px;

  @media screen and(max-width: 700px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding-top: 3rem;
  font-family: $f-body;
  background-color: #f0f0f0;
}

a {
  color: $c-highlight;

  &:hover {
    color: #000;
  }
}

h1, h2, h3 {
  font-family: $f-head;
  font-weight: 700;
  text-transform: lowercase;
  color: $c-main;
}
h1 {
  font-size: 2rem;
  line-height: .9;
  margin: 1rem 0;

  @include desktop() {
    font-size: 3rem;
  }
}
p + h1 {
  margin-top: 4rem;
}
h2 {
  font-size: 1.25rem;
}

p {
  font-family: $f-body;
  max-width: 600px;
  line-height: 1.4;
  color: #000;

  & + & {
    margin-top: 1rem;
  }
  &.lead {
    color: $c-highlight;
    font-size: 1.25rem;
    padding-left: 1.5rem;
  }
}

small {
  font-size: .8rem;
}

.spot-nav {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;

  &__add {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: $c-blue;
    color: #eee;
    text-decoration: none;
    text-align: center;
    float: left;

    &::before {
      content: "+";
      font-family: Arial;
      font-size: 3rem;
      line-height: 4rem;
    }

    &:hover {
      background-color: $c-highlight;
      color: #fff;
    }
  }
  &__link {
    display: block;
    background-color: $c-blue;
    height: 4rem;
    float: left;
    color: #fff;
    line-height: 4rem;
    text-decoration: none;
    padding: 0 3rem;
    margin-left: 4px;

    &:hover {
      background-color: $c-highlight;
      color: #fff;
    }
  }
}

.btn {
  border: none;
  background-color: #333;
  color: #fff;
  font-family: $f-body;
  font-size: 1rem;
  padding: .5rem 1.4rem;

  &.disabled {
    opacity: .3;
    pointer-events: none;
  }
  &:focus {
    outline: none;
    background-color: #555;
  }
}


input[type=text], input[type=password], input[type=email], textarea {
  display: block;
  width: 100%;
  max-width: 500px;
  font-family: $f-body;
  font-size: 1rem;
  padding: .5rem;
  margin: 1rem 0;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border-color: #000;
  }

  &.inactive {
    pointer-events: none;
    background-color: #ccc;
    color: #666;
  }
}

.notice {
  background-color: #ddd;
  padding: 1rem;
  font-size: .8rem;
  text-align: center;
  border: 2px solid #ccc;
  margin: 1.5rem 0;
}
