@import "reset";
@import "helpers";
@import "flickity";
$material-icons-font-path: "../../node_modules/material-icons/iconfont/";
$material-icons-font-size: 20px !default;
@import "node_modules/material-icons/iconfont/material-icons.scss";

html {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 20px;
  }
}

body {
  margin: 0;
  // padding-top: 3rem;
  font-family: $f-body;
  background-color: $c-white;
  color: $c-black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include desktop() {
    // padding-top: 4rem;
  }

  &.embed {
    padding-top: 0;
  }
}

a {
  color: $c-main;
  text-decoration: none;

  &:hover {
    color: $c-black;
  }
}

strong {
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: $f-head;
  font-weight: 700;
  color: $c-black;
  font-style: normal;
}
h1 {
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
  text-align: center;

  @include desktop() {
    font-size: 3rem;
    margin: 2rem 0 2.5rem 0;
  }
}
p + h1 {
  margin-top: 4rem;
}
h2 {
  font-size: 1.75rem;
  line-height: 0.9;
  margin-bottom: 2rem;

  @include desktop() {
    font-size: 2.75rem;
  }
}
h3 {
  font-family: $f-body;
  text-transform: none;
  // color: $c-main;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  max-width: 850px;

  @include desktop() {
    font-size: 1.25rem;
  }
}

p {
  font-family: $f-body;
  max-width: 850px;
  line-height: 1.4;
  color: $c-black;

  & + & {
    margin-top: 1rem;
  }
  &.lead {
    color: $c-black;
    font-size: 1.25rem;
  }
}

.container {
  width: 100%;
  max-width: 66.6rem;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;

  &--narrow {
    max-width: 33.3rem;
  }

  @include tablet {
    padding: 0 2rem;
  }
}

small {
  font-size: 0.8rem;
}

.btn {
  display: inline-block;
  border: 2px solid $c-blue;
  background-color: $c-blue;
  color: $c-black;
  border-radius: 4px;
  font-family: $f-body;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-sizing: content-box;
  margin-top: 1.5rem;
  -webkit-appearance: none;
  transition: 0.1s border-color, 0.1s color;

  &:hover {
    border-color: $c-main;
  }
  &:focus {
    outline: none;
    border-color: $c-main;
  }

  &.disabled {
    pointer-events: none;
    color: #aaa;
    opacity: .8;
  }
  &--centered {
    display: block;
    width: 12rem;
    padding: 0;
    margin: 1rem auto;
  }
}

.btn-centered {
  font-family: $f-head;
  display: block;
  width: 14rem;
  margin: 1rem auto;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #333;
  text-align: center;
  background-color: #fafafa;
  border: 2px solid #eee;
  padding: 1rem 0;

  letter-spacing: 0.03rem;
  text-decoration: none;

  &:hover {
    border-color: $c-main;
  }
}

label {
  display: block;
  margin-bottom: 1rem;

  span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    color: #888;
  }
}
span.label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: 100%;
  max-width: 700px;
  font-family: $f-body;
  font-size: 1rem;
  padding: 0 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  border: 1px solid $c-blue;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 0 #fafafa;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border-color: #888;
  }
  &::placeholder {
    color: #bbb;
  }

  &.inactive {
    pointer-events: none;
    background-color: #ccc;
    color: #666;
  }
  &:disabled {
    color: #888;
    background-color: #f0f0f0;
  }
}

input[type="file"] {
  margin: 1rem 0;
}

textarea {
  height: auto;
  line-height: 1.4;
  padding: 1rem;
}

select {
  width: auto;
}

.form-checkbox {
  display: flex;
  margin: 1.5rem 0;
  line-height: 1;

  label {
    margin-left: .5rem;
  }
}

.notice {
  background-color: #fff;
  border: 1px solid $c-grey-dark;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 rgba($c-grey, 0.5);
  line-height: 1.2;

  &--small {
    font-size: .8rem;
    padding: .75rem;
  }
}

.contentpage {
  margin: 0;
  padding: 5rem 0 2rem 0;
  min-height: calc(100vh - 500px);

  @include desktop() {
    padding: 12rem 0 2rem 0;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 40rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    z-index: -1;
    background-image: linear-gradient(
      0deg,
      #ffffff 2%,
      rgba(255, 255, 255, 0) 74%
    );
  }
  &::after {
    z-index: -2;
    background-image: linear-gradient(-137deg, #fcffd6 0%, #e2fdff 100%);
  }

  h1 {
    font-size: 2rem;

    @include desktop {
      font-size: 3.5rem;
    }
  }
  p {
    line-height: 1.4;
    margin: 1rem auto;
    max-width: 650px;
    color: #555;

    &.lead {
      // font-family: $f-head;
      // font-weight: 700;
      color: $c-black;
      font-size: 1.1rem;

      @include desktop {
        font-size: 1.2rem;
      }
    }
  }

  ul {
    padding-left: 1rem;
    margin: 1.5rem auto;
    max-width: 650px;
    font-family: $f-body;

    li {
      margin: 0.5rem 0;
      position: relative;
      padding-left: 2rem;
      line-height: 1.3;

      &::before {
        content: "— ";
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p.block-img {
    max-width: none;
    margin: 2rem auto;

    @include desktop() {
      margin: 4rem auto;
    }
    img {
      display: block;
      margin: 0 auto;
      height: auto;
      width: auto;
      max-height: 600px;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
